body{ 
    margin: 0px 0px; 
    padding: 0px 0px;  
}
h1 {  
    margin-top : 1rem;
    text-align: center; 
    margin-bottom : 2rem;    
} 

.container .navbar { 
    border-radius: 1rem; 
    margin-bottom: 2rem; 
    padding: 0.5rem 0.5rem;
} 

.card { 
    margin-bottom: 3rem; 
    border: 2px solid black; 
    border-radius: 5px;
} 

.collapse { 
    padding: 1rem 1rem;
} 
.head{ 
    font-size: 2rem; 
    padding: 3px; 
    font-weight: bold;
}
